*{
	margin:0;
	padding:0;
}

body{
	margin:0 auto;
	width: 768px;
	font-size: 16px;
	font-family: Verdana, Geneva, sans-serif;
	background-color:#f5f5f5;
}

header h1{
	font-size: 35px;
	line-height: 40px;
	padding: 20px 0 20px 0;
	text-align: center;
}

nav ul{
	list-style-type: none;

}

nav ul li{
	float:left;
}

nav ul li a{
	display: block;
	height: 30px;
	padding: 0 30px;
	line-height: 30px; 
	text-align: center;
	text-decoration: none;
	color:#000;
	font-weight: bold;
}

nav ul li a:hover{
	color:#34abe0;
}

nav ul li a.selecionado{
	color:green;
	background-color: #34abe0;
	padding: 0 45px;
	height: 30px;
	line-height: 30px;
	margin-top: 2px;
}
