*{ 
	margin: 0;
	padding: 0;
 }
div{
	border: 2px solid #333; position: absolute;
}
div.um{
	width: 400px;
	height: 160px;
	background-color: #f60;
	z-index: 1000;
}
div.dois{
	width: 220px;
	height: 240px;
	left:240px;
	top:40px;
	background-color: #33f;
	z-index: 500;
}
div.tres{
	width: 180px;
	height: 120px;
	left: 140px;
	top:100px;
	background-color: #090;
}