*{
    margin:0;
    padding:0;
}
.container{
    background-color: #ddd;
    /* width: 1200px; */
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    padding:10px;
}
header{
    background-color: #fff;
    /* width: 1200px; */
    width: 100%;
    height: 250px;
}
nav{
    background-color: #ccc;
    /* width: 1200px; */
    width: 100%;
    height: 50px;
}
.secao{
    background-color: #ddd;
    /* width: 1200px; */
    width: 100%;
    height: 500px;
    margin-top: 5px;
}
section{
    background-color: #fff;
    /* width: 900px; */ /* 900px dividido por 1200 */
    width: 75%;
    height: 500px;
    margin-top: 5px;
    float:left;
}
aside{
    background-color: #fff;
    /* width: 290px; */
    width: 24.16666666%;
    height: 500px;
    margin-left: 5px;
    float: left;
}
footer{
    background-color: #ddd;
    /* width: 1200px; */
    width: 100%;
    height: 60px;
    margin-top: 5px;
}

@media screen and (max-width: 600px) { /* até no máximo 600px*/

    nav{
        background-color: green;
    }

    /* aside{
        display:none;
    }
    section{
        width: 100%;
    } */
    section{
        width: 50%;
    }
    aside{
        width: 45%;
    }

}

/* outros exemplos de media queries */
/* http://getbootstrap.com.br/css/ */

@media screen and (min-width:768px) and (max-width:959px) {
    
}
@media screen and (max-width: 768px) { /* smartphones */
    
}
@media screen and (min-width:992px) and (max-width: 1200px){

}