/*ex5.css*/
#titulo { 
	font-family: verdana;
	color: blue;
	font-size:48px;
	
 }
h2{
	font-family: arial;
	font-size:36px;
	color:red;
} 
p{	
	font-style: italic;
}
.destaque-laranja {
	color:orange;
}
.destaque-verde{
	color:green;
}